<script>
  $(document).ready(function(){

	$("#pop-lg").on("click", function() {
	   $('#imagepreview-lg').attr('src', $('#imageresource-lg').attr('src'));
	   $('#imagemodal-lg').modal('show');
	});
	$("#pop-sm").on("click", function() {
	   $('#imagepreview-sm').attr('src', $('#imageresource-sm-1').attr('src'));
	   $('#imagemodal-sm').modal('show');
	});
  });
</script>

<h1>
	<i class="glyphicon glyphicon-th-list"></i>
	crystalData
</h1>
<h2>Base de données en ligne</h2>
<br>

<a href="#" id="pop-lg"><%= image_tag image_path("screen-lg.png"), width:'400', id:"imageresource-lg" %></a>
<a href="#" id="pop-sm"><%= image_tag image_path("screen-sm-1.png"), width:'160', id:"imageresource-sm-1" %></a>
<a href="#" id="pop-sm"><%= image_tag image_path("screen-sm-2.png"), width:'160', id:"imageresource-sm-2" %></a>
<a href="#" id="pop-sm"><%= image_tag image_path("screen-sm-3.png"), width:'160', id:"imageresource-sm-3" %></a>

<!-- Creates the bootstrap modal where the image will appear -->
<div class="modal fade" id="imagemodal-lg" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-lg" >
    <div class="modal-content">
        <img src="" id="imagepreview-lg" >
    </div>
  </div>
</div>
<div class="modal fade" id="imagemodal-sm" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-sm" >
    <div class="modal-content">
        <img src="" id="imagepreview-sm" >
    </div>
  </div>
</div>

<br><br>

<h3>Ce que vous pouvez faire avec</h3>
<h4>
	<ul>
		<li>Créer vos tables de données ou les importer à partir de feuilles Excel</li>
		<li>Ajouter des colonnes de type Texte, Nombre, €, Date, Liste, Formule (Ruby)</li>
		<li>Partager des tables avec d'autres utilisateurs (visualisation/ajout/modification). Seul le créateur d'une table peut la modifier</li>
		<li>Rechercher, filtrer, trier les enregistrements</li> 
		<li>Editer les enregistrements dans un formulaire (les modifications sont consignées dans un historique)</li>
		<li>Exporter les tables vers Excel</li>
		<li>Utiliser l'application depuis votre mobile, les écrans s'adaptent à la taille d'un écran de smartphone</li>
	</ul>
</h4>

<h3>Ce que vous ne pourrez pas (encore) faire</h3>
<h4>
	<ul>
		<li>Saisir des données dans une application mobile (mode déconnecté)</li>
		<li>Faire des relations entre des tables</li>
		<li>Faire des graphiques</li>
		<li>Générer des PDF</li>
	</ul>
</h4>
<br><br>
