<script>
  $(document).ready(function(){

	$("#pop").on("click", function() {
	   $('#imagepreview').attr('src', $('#imageresource').attr('src')); // here asign the image to the modal when the user click the enlarge link
	   $('#imagemodal').modal('show'); // imagemodal is the id attribute assigned to the bootstrap modal, then i use the show function
	});
});

</script>


<h1>
	<i class="glyphicon glyphicon-th-list"> </i>
	crystalData
</h1>
<h2>Base de données en ligne</h2>
<br>

<a href="#" id="pop">
	<%= image_tag image_path("Screenshot1.png"), width:'400', id:"imageresource" %>
</a>

<!-- Creates the bootstrap modal where the image will appear -->
<div class="modal fade" id="imagemodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" style="width: 900px;">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Fermer</span></button>
        <h4 class="modal-title" id="myModalLabel">Aperçu d'une table</h4>
      </div>
      <div class="modal-body">
        <img src="" id="imagepreview" style="width: 850px;">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
      </div>
    </div>
  </div>
</div>

<br><br>

<h3>Ce que vous pouvez faire avec</h3>
<h4>
	<ul>
		<li>Créez vos tables de données ou importez-les à partir de vos feuilles Excel</li>
		<li>Ajoutez des colonnes de type Texte, Nombre, €, Date, Liste, Formule (Ruby)</li>
		<li>Partagez vos tables avec d'autres utilisateurs (visualisation/ajout/modification). Seul le créateur de la table pourra la modifier</li>
		<li>Recherchez, filtrez, triez les enregistrements</li> 
		<li>Editez les enregistrements dans un formulaire (les modifications seront consignées dans un historique)</li>
		<li>Exportez vos données vers Excel</li>
	</ul>
</h4>

<h3>Ce que vous ne pouvez pas (encore) faire</h3>
<h4>
	<ul>
		<li>Saisie des données dans une application mobile</li>
		<li>Relations entre les tables</li>
		<li>Faire des graphiques</li>
		<li>Générer des PDF</li>
	</ul>
</h4>
<br><br>
