<br><br>
<h2>Partager avec un autre utilisateur</h2>
<br>

<%= form_for :user, url: '/add_user_do' do %>

  <%= hidden_field_tag :id, params[:id] %>

  Son adresse mail: <%= text_field_tag :email %>

  <%= submit_tag "Partager", class: 'btn btn-success' %>

<% end %>