<h1>
	Table '<%= @table.name %>'
</h1>
<%= link_to "Renommer", edit_table_path(@table), title:"Renommer cette table" %>
<br><br>

<h3>Liste des colonnes</h3>
<table class="table table-striped table-hover table-bordered table-responsive">
	<thead>
		<tr>
			<th>Nom</th>
			<th>Type</th>
			<th>Options</th>
			<th>Filtre ?</th>
			<th>Somme ?</th>
		</tr>
	</thead>
	<%= render partial:'fields/field', collection:@table.fields %>
	<% unless @table.fields.any? %>
		<tr><td>Aucune colonne pour l'instant</td><td /><td /></tr>
	<% end %>
</table>
<br>

<h3>Ajouter une colonne</h3>
<% if @field %>	
	<%= render partial:'fields/form' %>
<% end %>
